*.class

# Package Files #
*.jar
*.war
*.ear
/Crm/nbproject/private/
/Crm/build/
/KataNumerosRomanos/nbproject/private/
/KataNumerosRomanos/build/
/Boolean/nbproject/private/
/Boolean/build/
/KataNumerosRomanos/KataNumerosRomanos/nbproject/private/
/KataNumerosRomanos/KataNumerosRomanos/build/
/Deposito/nbproject/private/
/Facturas/nbproject/private/
/Factura/nbproject/private/
/Factura/build/
/Login/nbproject/private/
/Login/build/
/Crm/dist/